---
import Layout from "@layouts/Layout.astro";
import MainSection from "@components/MainSection.astro";
import SectionContainerBase from "@components/SectionContainerBase.astro";
import Experience from "@components/Experience.astro";
import Projects from "@components/Projects.astro";
import TitleSection from "@components/TitleSection.astro";
import BriefcaseIcon from "@components/icons/BriefcaseIcon.astro";
import ProjectsIcon from "@components/icons/ProjectsIcon.astro";
import ProjectSecondary from "@components/ProjectSecondary.astro";
import GoToAction from "@components/GoToAction.astro";
---

<Layout
  title="Porfolio de Santiago CS - Desarrollador y Programador Web con +2 a침os de experiencia"
  description="Contrata a Santiago Carrillo para crear tu aplicaci칩n o p치gina web. Programador Web y Desarrollador de Software. Experto en la creaci칩n de experiencias web innovadoras y funcionales."
>
  <main class=" px-6 md:px-5 grow">
    <SectionContainerBase id="main">
      <MainSection />
    </SectionContainerBase>

    <SectionContainerBase id="experience" class="mb-30">
      <TitleSection>
        Experiencia Laboral <BriefcaseIcon class="size-8" />
      </TitleSection>
      <Experience />
    </SectionContainerBase>

    <SectionContainerBase class="mb-27">
      <GoToAction/>
    </SectionContainerBase>

    <SectionContainerBase id="proyectos">
      <TitleSection>
        Proyectos  <ProjectsIcon class="size-8" />
      </TitleSection>
      <Projects />
    </SectionContainerBase>

    <SectionContainerBase class="mb-27">
      <ProjectSecondary/>
    </SectionContainerBase>



  </main>
</Layout>
