---
const altImageProfile =
  "Imagen de Santiago carrillo, desarrollador web de aplicaciones únicas";
---

<article
  class="mt-10 md:mt-7 mb-8 flex flex-col items-center gap-y-10 md:flex-row justify-center gap-x-7"
>
  <img
    loading="lazy"
    src="/profile.webp"
    alt={altImageProfile}
    class="md:order-2 w-60 md:w-64 h-full rounded-full object-center object-cover shadow-2xl ring-2 ring-sky-800 dark:ring-gray-400"
  />

  <div
    class="[&>p]:mb-5 [&>p>strong]:text-sky-800 dark:[&>p>strong]:text-yellow-200 text-slate-600 [&>p>strong]:font-mono dark:text-gray-300 text-pretty md:order-1"
  >
    <p>
      ¡Soy Santiago Carrillo! Mi incursión en el desarrollo de software comenzó
      cuando aún no tenía siquiera una computadora propia. Tras culminar mis
      estudios en programación, <strong>
        mi desempeño y compromiso durante mis prácticas laborales me permitieron
        obtener un puesto como Desarrollador en la compañía.</strong
      >
    </p>

    <p>
      Uno de mis mayores logros ha sido contribuir como <strong
        >Desarrollador Full Stack en la corrección, seguridad y optimización de
        sistemas web
      </strong> en una de las fintech líderes de Colombia (KOA), la cual actualmente
      cuenta con más de 65,000 clientes en todo el país. Gracias a estas mejoras,
      <strong
        >Logré reducir los tickets generados al soporte de TI en hasta un 45%.</strong
      >
    </p>

    <p>
      Actualmente, formo parte de <strong
        >NTT DATA Europe como Desarrollador Backend Java, donde apoyo proyectos
        de integración para BBVA</strong
      > , participando en el diseño y mantenimiento de microservicios con Spring
      Boot que garantizan la seguridad y escalabilidad de los procesos bancarios.
    </p>
  </div>
</article>
