---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Junio 2023 - Diciembre 2024 ",
    title: "Desarrollador Junior Foundation",
    company: "ExcelCredit S.A",
    description:
      "Colabore con el equipo de destructores de Helps para mitigar los Bugs y el manejo de nuevas implementaciones a las aplicaciones internas de la compañía .",
    link: "https://excelcredit.co/",
  },
  {
    date: "Noviembre 2022 - Mayo 2023",
    title: "Practicante Desarrollo de Software",
    company: "ExcelCredit S.A",
    description:
      "Gestione tareas de implementación de nueva funcionalidad de la aplicación interna de la compañía, logrando implementar un visor documental para el manejo de clientes ",
  },
]
---

<ol class="relative mt-14 mb-20">
  {
    EXPERIENCE.map((experience, index) => (
      <li class="">
        <ExperienceItem {...experience} isLatest = {index === 0} />
      </li>
    ))
  }
</ol>