---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Junio 2023 - Diciembre 2024 ",
    title: "Desarrollador Junior Foundation",
    company: "ExcelCredit S.A",
    description:
      "Contribuí a la estabilidad y seguridad de las aplicaciones internas de la compañía, corrigiendo errores en producción y optimizando su rendimiento. Además, implementé mejoras clave que redujeron en un 45% los tickets de soporte de TI.",
    link: "https://www.linkedin.com/in/santiagocarrillo27/",
  },
  {
    date: "Noviembre 2022 - Mayo 2023",
    title: "Practicante Desarrollo de Software",
    company: "ExcelCredit S.A",
    description:
      "Apoyé la implementación de un visor documental para la gestión de información de clientes y créditos solicitados. Además, brindé soporte técnico desde el área de desarrollo, contribuyendo a la estabilidad y mejora de las aplicaciones internas de la compañía.",
  },
]

---

<ol class="relative mt-14 mb-20">
  {
    EXPERIENCE.map((experience, index) => (
      <li class="">
        <ExperienceItem {...experience} isLatest = {index === 0} />
      </li>
    ))
  }
</ol>

