---
const currentYear = new Date().getFullYear();
---

<div class="flex justify-center items-center">
  <h1 class="text-gray-800 dark:text-white text-center p-4"> Santii ❤️ {currentYear}.</h1>
</div>
