---
import GitHubIcon from "./icons/GitHub.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import MailContactIcon from "./icons/MailContactIcon.astro";

const currentYear = new Date().getFullYear();
---

<div class="flex justify-between items-center py-9 px-5">
  <h1 class="text-gray-800 dark:text-white text-center p-4">
    <span>{currentYear}</span> Santii🥷.
  </h1>

  <div
    class="flex justify-center items-center gap-x-6 [&>a]:text-gray-800 dark:[&>a]:text-white"
  >
    <a
      href="https://www.linkedin.com/in/santiagocarrillo27/"
      class="hover:scale-120 transition duration-300"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Perfil de LinkedIn de Santiago Carrillo"
    >
      <LinkedInIcon class="size-5" />
    </a>
    <a
      href="mailto:santiagodev27@gmail.com"
      class="hover:scale-120 transition duration-300"
      rel="noopener noreferrer"
      aria-label="Enviar un correo a Santiago Carrillo"
    >
      <MailContactIcon class="size-6" />
    </a>

    <a
      href="https://github.com/SantiagoCarrillo27"
      class="hover:scale-120 transition duration-300"
      rel="noopener noreferrer"
      aria-label="Perfil de GitHub de Santiago Carrillo"
    >
      <GitHubIcon class="size-5" />
    </a>
  </div>
</div>
