---
const { href } = Astro.props
---

<!-- UTILIZAR PARA LINKS O URLS E LÃNEA QUE NO SON BOTONES -->

<a href={href} role="link" target="_blank" rel="noopener noreferrer"
class=" hover:scale-103 transition inline-flex items-center gap-x-2 px-4 py-2 text-sm font-medium text-black/80 hover:text-sky-800 bg-white border border-gray-200 rounded-lg hover:bg-gray-100  focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-sky-800 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 dark:hover:text-yellow-300 dark:hover:bg-gray-700 dark:focus:ring-gray-700">
  <slot />
</a>