---
import BriefcaseIcon from "./icons/BriefcaseIcon.astro";
---

<div class="flex items-center gap-x-3">
    <h2 class="text-3xl font-semibold text-black/80">Experiencia Laboral</h2>
    <BriefcaseIcon class="size-8 text-black/80"/>
</div>